/all_log.csv
/bench_log.csv
/icpe-data-challenge-jmh/
/implementations/rust_nom/target/
/implementations/rust_serde/target/
/implementations/rust_serde_rayon/target/
/implementations/rust_serde_improved/target/
/jmh/
/jmh_bench
/jmh.tar.gz
